@import "tailwindcss";
/*============= header texts style =======*/
@layer base{
    body{
        background-color: whitesmoke;
    }
    header h1{
        @apply text-orange-600;
        text-shadow: 2px 2px 10px black;
        flex-wrap: nowrap;
        font-size: 45px;
        font-weight: 700;
        font-family: fugazOne;
        line-height: 50px;
        }
        @media(max-width:768px){
            header h1{
                font-size: 25px;
                line-height: 25px;
                letter-spacing: 1px;
            }
        }
        @font-face{
            font-family:"fugazOne" ;
            src: url("./assests/fonts/FugazOne-Regular.woff2"), format("woff2");
    
        }
        @font-face{
            font-family:"Monoton" ;
            src: url("./assests/fonts/Monoton-Regular.woff2"), format("woff2");
    
        }
        .nav-link:hover{
            @apply underline text-orange-600;
            
        }
        .navLogo{
            @apply font-bold text-xl text-orange-700 left-0 w-1/4 h-full py-2 text-shadow-lg;
            font-family: Monoton;
        }
        .hero-text{
            margin-left: 15%;
        }
        .hero-btn{
            left: 280px;
        }

        .floating{
            animation: float 5s ease-in-out infinite;
        }
    
        @keyframes float{
        0%{transform: rotate(0deg);}
        35%{transform: rotate(45deg); }
        70%{transform: rotate(-45deg);}
        100%{transform: rotate(0deg);}
        }
    
    }
    
    @media (max-width: 768px){
        .contact{
            background-color: red;
            margin-top: 100px;
        }
        .hero-text{
            margin-left:8%;
            font-size: 15px;
        }
        .hero-btn{
            left:170px 
        }
    }
    @media(max-width: 425px){
        header h1{
            font-size: 20px;

        }
        .hero-text{
            margin-left: auto;
            margin-right: auto; 
            font-size: 12px;
        }
        .hero-btn{
            left:130px ;
        }
    }
/*======== button componen t=========*/
@layer component{
    .button{
        @apply bg-orange-700 rounded-3xl p-3 hover:bg-orange-500 hover:border-white hover:shadow-orange-200 shadow-2xl;
        font-family: Verdana;
    }
} 

